<nav class="navbar navbar-default t-margin-20" role="navigation">
<div class="container-fluid">
  <div class="navbar-header center">
    <a class="navbar-brand" href="#">上传文件</a>
  </div>
</div>
</nav>

<div style="width: 50%;margin-left: 37%;margin-top: 100px">
  <%= form_for :upload, url: {action: "create"}, :html =>{:multipart => true} do |f| %>
      <%= f.file_field :files %>
      <br/>
      <%= f.submit "Upload", class: 'btn btn-info', disabled: true %>
  <% end %>
</div>
<script>
  $(':file').change(function () {
    if($(this).val() != '' && $(this).val() != undefined){
        $(':submit').attr('disabled', false)
    }
  })
</script>

